<!DOCTYPE html>
{# Citation for the following
Date: 12/2/24
Adapted from Flask Starter App Guide
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/app.py #}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Fantasy Football Manager</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
      <meta>
   </head>
   <body onload="initPage()">
      <header>
         <h1>Fantasy Football Manager</h1>
      </header>
      <nav>
         <a href="/">Home</a>
         <a href="players">Players</a>
         <a href="teams">Teams</a>
         <a href="team_owners">Team Owners</a>
         <a href="leagues">Leagues</a>
         <a href="matches">Matches</a>
         <a href="team_rosters">Players in Teams</a>
      </nav>
      <main>


       


        <div id="insert">
         <h2> Enter a Match Record:</h2>
            <form id="insertMatch" action="/matches" method="post">
                
                <label for="week">Week Played:</label>
                <input type="text" id="week" name="week"><br>
                <label for="hometeamscore">Home Team Score:</label>
                <input type="text" id="hometeamscore" name="hometeamscore"><br>
                <label for="awayteamscore">Away Team Score:</label>
                <input type="text" id="awayteamscore" name="awayteamscore"><br>
                <label for="home">Home Team</label>
                <br>
                <select id="home" name="home" required>
                {% for item in teamData %}
                <option value="{{ item['teamID'] }}">{{item["teamName"]}}</option>
                {% endfor %}
                
                
                </select> <br>
                <label for="away">Away Team</label><br>
                <select id="away" name="away" required>
                {% for item in teamData %}
                <option value="{{ item['teamID'] }}">{{item["teamName"]}}</option>
                {% endfor %}</select><br>

                <input type="submit" value="Add Match" name="Add_Match" class="btn btn-primary" style="margin:.5rem;">








            </form>

        </div>


          




            

            <div id="edit">
            <h2> Update a Match Record:</h2>
                <form>
                    <label for="matchid">Match ID:</label>
                    <input type="text" id="matchid" name="matchid"><br>
                    <label for="week">Week Played:</label>
                    <input type="text" id="week" name="week"><br>
                    <label for="hometeamscore">Home Team Score:</label>
                    <input type="text" id="hometeamscore" name="hometeamscore"><br>
                    <label for="awayteamscore">Away Team Score:</label>
                    <input type="text" id="awayteamscore" name="awayteamscore"><br>
                    <label for="home">Home Team</label>
                    <input type="text" id="home" name="home"><br>
                    <label for="away">Away Team/label>
                    <input type="text" id="away" name="away"><br>
                    <input type="submit" value="Update Record" />
    
    
    
    
    
    
    
    
                </form>
         



        </div>


        <div id="browse">


        <p><a href="#" onClick="newMatch()">Add New Match</a> </p>

        <h2> Match Records:</h2>


            <table class="tablestyle1">
            <thead>
                <tr>
                <th>Match ID</th>
                <th>Week Played</th>
                <th>Home Team Score</th>
                <th>Away Team Score</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Edit</th>
                <th>Delete</th>                
                </tr>
                </thead>
               <tr>
      {% if data %}
      {% for item in data %}
      <tr>
      {% for key in item.keys() %}
      <td>{{item[key]}} </td>
      {% endfor %}
      <td><a href="/edit_match/{{item.matchID}}" class="btn btn-default">Edit</a></td>
		<td><a href="/delete_match/{{item.matchID}}" class="btn btn-default">Delete</a></td>
      </tr> 
      {% endfor %}
      {% endif %}

                
            </table>




        </div>
      </main>
      <footer>
         <p>&copy; 2024 </p>
      </footer>
      <script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';			
			document.getElementById('edit').style.display = 'block';
         document.getElementById('insert').style.display = 'none';
				
		
		} 
      else if(dowhat == 'insert'){
         document.getElementById('browse').style.display = 'none';			
			document.getElementById('edit').style.display = 'none';
         document.getElementById('insert').style.display = 'block';

      }
      else { //by default display browse
			document.getElementById('browse').style.display = 'block';			
			document.getElementById('edit').style.display = 'none';
         document.getElementById('insert').style.display = 'none';
			
		}
	}

	function newMatch() {
		showform('insert');
	}

	function updateMatch(MatchID) {
		showform('update');
	}

	function deleteMatch(MatchID) {
		showform('delete');
	}

	function browseMatch() {
      console.log('browseMatch() executed');
		showform('browse');
	}

	function showAll() {
		showform('all');
	}
   function initPage(){
      console.log("Page Loaded");
      browseMatch();
   }
	</script>
   </body>


</html>